body{
  background-color: #7d7d7d;
  color:#fff;
}

.container, .holdingDiv{
  height:100%;
}

.loudspeaker{
  height: 200px;
  width: 218px;
  margin: 20px 0 0 36px;
}

.songList{
  margin:40px 0 0 42px;
  width: 200px;
  border: 1px solid #b3b3b3;
  border-radius: 5px;
}

.songsListing {
    list-style: none;
    padding-left:10px;
}

.songsListing li{
  margin:10px 0 0 0;
}

.loudspeakerIcon{
  height:20px;
  width:20px;
}

.volumeKeys{
  height:20px;
  width:20px;
  margin:10px 0 10px 0;
}

.volumeControls {
    border-radius: 5px;
    margin-left: -3px;
    position: absolute;
    right: -15px;
    top: 59px;
}

.volumeControls div{
  background-color: #333233;
  border-radius: 5px;
  margin:10px;
}

.volumeControls div img{
  margin-left: -10px;
}

.volumeControls div span{
  margin:10px 10px 10px -5px;
  color:#b3b3b3;
  cursor: pointer;
}

.playerControls{
  position: absolute;
  bottom:50px;
  left:115px;
}

ul.songsListing li{
  cursor: pointer;
}
