  <!-- Top Info -->
  <div id="title">
    <span id="track">{{trackName}}</span>
    <div id="timer">0:00</div>
    <div id="duration">{{timer}}</div>
  </div>

  <!-- Controls -->
  <div class="controlsOuter">
    <div class="controlsInner">
      <div id="loading"></div>
      <div class="btn" id="playBtn" ng-click="playPause()" ng-show="!songPlaying"></div>
      <div class="btn" id="pauseBtn" ng-click="playPause()" ng-show="songPlaying"></div>
      <div class="btn" id="prevBtn" ng-click="prevSound()"></div>
      <div class="btn" id="nextBtn" ng-click="nextSound()"></div>
    </div>
    <div class="btn" id="playlistBtn" ng-click="showPlaylist()"></div>
  </div>

  <!-- Progress -->
  <div id="waveform" ng-show="songPlaying" ng-click="seekToTime($event)"></div>

  <div id="bar" ng-hide="songPlaying"></div>
  <div id="progress"></div>

  <!-- Playlist -->
  <div id="playlist" ng-show="playListVisible">
    <div id="list">
      <div class="list-song" ng-repeat="song in player.playlist" ng-click="playPlaylistSong($index)">{{song.name}}</div>
    </div>
  </div>
